@import url("searchbar.css");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import url("fonts.css");

body {
    margin: 0;
    overflow-x: hidden;
}
.welcome {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "JetBrains Mono", monospace;
    font-size: 25px;
    color: #cad3f5;
    user-select: none;
    -webkit-user-select: none;
}

.bg-img {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    filter: blur(4px)
            brightness(50%);
    background-image: url("https://i.imgur.com/pFCQK8e.jpeg");
    z-index: -3;
}
.container-box {
    background-color:#181926;
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: left;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: -1;
    padding-left: 15px;
}
.button {
    height: 50%;
    width: fit-content;
    color: #cad3f5;
    padding: 10px 12.5px;
    font-size: 40px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.button:active {
    transform: translateY(3px);
}

