@import url("searchbar.css");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import url("fonts.css");
@import url("welcome-page.css");

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "JetBrains Mono", monospace;
    overflow-x: hidden;
    color: #cad3f5;
}
.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #cad3f5;
    user-select: none;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.container-box {
    background-color: #181926;
    display: flex;
    height: 90px;
    width: 100%;
    align-items: center;
    padding-left: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
    position: fixed;
    top: 0;
}
.button {
    height: 50%;
    width: fit-content;
    color: #cad3f5;
    padding: 10px 12.5px;
    font-size: 40px;
    font-weight: 400;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.button:hover { transform: scale(1.1); }
.button:active { transform: translateY(3px); }

